
//Varibles
$fuente:  Helvetica, sans-serif;
$color-fondo: lightblue;

$color-primario:#2196F3;
$color-secundario:#BBDEFB;
$texto-blanco:#FFFFFF;
$texto-gris:#757575;

$naranja: #FF5722;
$azul: #448AFF;
$verde: #4CAF50;
$rojo: #F44336;

$borde:rgb(68, 233, 142);


h1{
    font-family: $fuente;
}

//Variables
#layout{
    display: flex;
    flex-flow: row wrap;
    border: 3px solid black;
    padding: 5px;

    /*Invocar variables*/
    background: $color-fondo;
}

.caja{
    /*flex-grow: 1;*/
    flex-basis: 25%;
    flex-basis: calc((100% / 3) - 68px);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: $texto-blanco;
    padding: 20px;
    border: 4px solid #222222;
    margin: 10px;
}

.red{
    order: 4;
    background: $rojo;
}
.green{
    order: 3;
    background: $verde;
}
.blue{
    order: 2;
    background: $azul;
}
.orange{
    flex-basis: 100%;
    order: 1;
    background: $naranja;
}




//Mixin y funciones

@mixin crearBordes ($color, $size, $shadow){
    border: $size solid $color;
    border-radius:$size;
    box-shadow: $size $shadow;
}

//Anidación

.listado{
    @include crearBordes($borde,10px, black)
}

.listado{
    ul{
        list-style: none;
        li{
            margin: 10px;
            
            a{
                text-decoration: none;
                color: $texto-gris;
            }
        }
    }
}

//herencia

%alert-normal{
    border: 1px solid grey;
    background: $color-fondo;
    color: grey;
    padding: 10px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0px 0px 5px grey;
}

.alerta{
    @extend %alert-normal;
}

.alerta-peligro{
    @extend %alert-normal;
    color: $rojo;
    border-color: $rojo;
}

.alerta-exito{
    @extend %alert-normal;
    color: $verde;
    border-color: $verde;
}

//Operadores
h1{
    font-size: 20px + 5px -1px;
}

.caja{
    width: 1920px / 500px * 100%;
}

$colorIF : lightblue;

//condicionales
h1{
    @if $colorIF != #ccc {
        color : black
    }@else{
        color: white;
    }
}

//FOR
$contador : 1;
@for $contador from 1 to 8 {
    .listado ul li:nth-child(#{$contador}){
        color: lightblue;
        font-size: #{$contador}px + 100px * $contador;
    }
}

