*{
    margin: 0px;
    padding: 0px;
}

.clearFix{
    float: none;
    clear: both;
}

#contenedor{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    background: lightcoral;
    margin: 0px auto ;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    background: lightskyblue;
    color: #333;
    line-height: 150px;
    text-align: center;
}

aside{
    width: 25%;
    min-height: 700px;
    float: left;
    background: #ccc;
    text-align: center;
    line-height: 700px;
}

#articulos{
    width: 75%;
    background-color: lemonchiffon;
    float: left;
    min-height: 700px;
}


#articulos article{
    width: 25%;
    height: 150px;
    background: lightgreen;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 15px;
}

/*Desde la anchura 0px hasta la anchura 888px de la pantalla*/
@media (max-width: 888px){
    /*Se ejecutaran estos estilos*/
    #articulos article{
        width: 40%;
        background: lightcoral;
    }

}

@media (max-width: 650px){

    #contenedor{
        overflow: hidden;
    }

    aside{
        float: none;
        min-height: auto;
        line-height: 20px;
        width: 91%;
        padding: 20px;
    }

    #articulos{
        width: 100%;
    }
    #articulos article{
        width: 90%;
        background: lightseagreen;
    }
}

